{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Demo App
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
<style>
    * {
        margin: 0;
        padding: 0;
    }
    .imgbox {
        display: grid;
        height: 100%;
    }
    .center-fit {
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
    }
    .tab {
        float: left;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: fit-content;
        height: fit-content%;
    }

    /* Style the buttons inside the tab */
    .tab button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 22px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current "tab button" class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        float: left;
        padding: 12px;
        border: 1px solid #ccc;
        width: auto;
        height: auto;
        margin-bottom: 15px;
    }

    .reportcontent{
        float: left;
        padding: 12px;
        border: 1px solid #ccc;
        width: auto;
        height: auto;
        margin-bottom: 15px;
    }
</style>
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Grade Predictor</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/sign_up_get">Sign Up</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="imgbox">
    <img class="center-fit" src='../static/GradePredictor.png'>
</div><!-- /.container -->

<div class="container" id="welcome" style="height: 700px">
    <h2>Welcome {{firstname}}, you are signed in!!</h2>

    {% for item in data %}
    <p> {{ item }} </p>
    {% endfor %}

    <form method="get" action="/edit_account_info_get">
        <input class="btn btn-primary" type="submit" value="Edit account information">
    </form>
    <br>

    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Grade Predictor</button>
        <button class="tablinks" onclick="openCity(event, 'Paris')">Course Report</button>
        <button class="tablinks" onclick="openCity(event, 'Tokyo')">Instructor Report</button>
        <button class="tablinks" onclick="openCity(event, 'Boston')">Activity Report</button>
        <button class="tablinks" onclick="openCity(event, 'Chicago')">Institution Report</button>
    </div>

    <div id="London" class="tabcontent">
        <h3>Grade Predictor</h3>
        <form id="predictionForm" action="javascript:fun();">
                GPA: <input type="text" name="gpa" value={{gpa}}><br>
                How many credit hours are you currently taking? <input type="text" name="totalcredithours"><br>
                Do you live on campus? <input type="checkbox" name="oncampus" {{onCampus}}><br>
                Will you be working outside of class? <input type="checkbox" name="isworking" {{working}}><br>
                Do you hold a position in a club/activity? <input type="checkbox" name="hasposition"><br>
                How many credit hours is this course for? <input type="text" name="coursecredithours"><br>
                What level is this course? (i.e. Math 101 -> 101) <input type="text" name="courselevel"><br>
                <br><h4>K-State 8 - Check all that apply for this course:</h4>
                Aesthetic Interpetation <input type="checkbox" name="AestheticInterpetation"><br>
                Empirical and Quantitative Reasoning <input type="checkbox" name="EmpiricalandQuantitativeReasoning"><br>
                Ethical Reasoning and Responsibility <input type="checkbox" name="EthicalReasoningandResponsibility"><br>
                Global Issues and Perspectives <input type="checkbox" name="GlobalIssuesandPerspectives"><br>
                Historical Perspectives <input type="checkbox" name="HistoricalPerspectives"><br>
                Human Diversity within the US <input type="checkbox" name="HumanDiversitywithintheUS"><br>
                Natural and Physical Sciences <input type="checkbox" name="NaturalandPhysicalSciences"><br>
                Social Sciences <input type="checkbox" name="SocialSciences"><br>
                Instructor Years Teaching <input type="text" name="YearsTeaching"><br>
                Instructor Is Tenured? <input type="checkbox" name="IsTenured"><br>
                Instructor Degree <input type="text" name="Degree"><br>
            <input class="btn btn-primary" type="submit" value="submit">
        </form>
    </div>

    <div id="Paris" class="tabcontent">
        <h3>Course Report</h3>
        <p>It will generate student past performances report in the past under specific course</p>
        <form method="post" action="/course_report">
                Course ID: <input type="text" name="course_id"><br>
            <input class="btn btn-primary" type="submit" value="submit">
        </form>
    </div>

    <div id="Tokyo" class="tabcontent">
        <h3>Instructor Report</h3>
        <p>It will generate student past performances report in the past under specific instructor</p>
        <form method="post" action="/instructor_report">
                Instructor ID: <input type="text" name="instructor_id"><br>
            <input class="btn btn-primary" type="submit" value="submit">
        </form>
    </div>

    <div id="Boston" class="tabcontent">
        <h3>Activity Report</h3>
        <p>It will generate student past performances report in the past under specific activity</p>
        <form method="post" action="/activity_report">
                Instructor ID: <input type="text" name="activity_id"><br>
            <input class="btn btn-primary" type="submit" value="submit">
        </form>
    </div>

    <div id="Chicago" class="tabcontent">
        <h3>Institution Report</h3>
        <p>It will generate student past performances report in the past under specific institution</p>
        <form method="post" action="/institution_report">
                Instructor ID: <input type="text" name="institution_id"><br>
            <input class="btn btn-primary" type="submit" value="submit">
        </form>
    </div>
    <div  id="predictionReport">
        <p id="fun"></p>
    </div>

</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script>

    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
        display(false);
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();

    function fun(){


        $.ajax({
            url: '/send', // url where to submit the request
            type : "POST", // type of action POST || GET
            dataType : 'json', // data type
            data : $("#predictionForm").serialize(), // post data || get data
            success : function(response) {
                $('#fun').text(response['text']);
                display(true);         }
        })
    }

    function display(option) {
        var x = document.getElementById("fun");
        if (option) {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

</script>
{% endblock %}