<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type=text/javascript src="../static/js/edit_account_scripts.js"></script>
</head>

<body>

<H1>{{first_name}}'s account details</H1>
<br>

<form id="student_info_form" method="post" action="/edit_account_student_info_post">
    <input id="student_info_button" class="btn btn-primary" type="submit" value="Save Changes">
    <script type="text/javascript">
            var student_info = [];
    </script>
    {% for item in student_info %}
        <script type="text/javascript">student_info.push(['{{item}}']);</script>
    {% endfor %}
    <script type="text/javascript">load_student_info(student_info)</script>
</form>
<script>
        move_submit_button_to_bottom("student_info_button");
</script>
<br><br><br>


<H1>Course History</H1>
<br>
<form id="course_form" method="post" action="/edit_account_course_info_post">
    <input id="course_form_button" class="btn btn-primary" type="submit" value="Save Changes">
    <select name="Course Type">
        <option value="1">Aesthetic Interpretation</option>
        <option value="2">Empirical and Quantitative Reasoning</option>
        <option value="3">Ethical Reasoningand Responsibility</option>
        <option value="4">Global Issuesand Perspectives</option>
        <option value="5">Historical Perspectives</option>
        <option value="6">Human Diversity within the US</option>
        <option value="7">Natural and Physical Sciences</option>
        <option value="8">Social Sciences</option>
    </select>
    {% for item in data %}
    <script type="text/javascript">
        load_course_info('{{item}}');
    </script>
    {% endfor %}
</form>
<br>
<button onclick="add_course_to_form()">Add Course</button>
</body>
</html>