<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href='../static/sign_up.css'>
</head>
<body>
<br>
<div class="container">
    <form class="form-sign-up" method="post" action="/sign_up_post">
        <h2>Sign Up</h2>
        <label for="firstName" class="sr-only">First Name</label>
        <input type="text" id="firstName" name="firstname" class="form-control" placeholder="First Name" required autofocus>
        <label for="lastname" class="sr-only">LastName</label>
        <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name" required>
        <label for ="email" class="sr-only">Email</label>
        <input type="text" id= "email" name="email" class="form-control" placeholder="Email"required>
        <input type="number" max = "4.00" min = "0.00" step="0.01" name="gpa" class="form-control" placeholder="Current GPA" id= "gpa" required>
        <select name = "institutionId" class="form-control" size = "1">
            <option value = "1" selected>1. Kansas State University</option>
            <option value = "2">2. University of Kansas</option>
            <option value = "3">3. Wichita State University</option>
            <option value = "4">4. Emporia State University</option>
            <option value = "5">5. Fort Hays State University</option>
        </select>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <label for="checkoncam">Live on campus: <input type="checkbox" name="oncampus"><br></label>
        <label for="checkwork">Currently working a part time or full time job: <input type="checkbox" name="isworking"><br></label>
        <input class="btn btn-primary btn-block" type="submit" value="submit">
    </form>
</div>

</body>
</html>
